        header.homePage {
            height: 414px;
            color: white;
            background-image: url(images/jrebackground.jpg);
            opacity: 0.85;
            padding: 20px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
    
        }

 
        a { text-decoration: none; color: white;}
        a:visited { text-decoration: none; color: white;}
        a:hover { text-decoration: none; color: white;}
        a:focus { text-decoration: none; color: white;}
        a:hover, a:active { text-decoration: none; color: white;}

        
        a.onpage {
            text-decoration: underline;
        }
        
        a.homeButton {
            align-self: flex-start;
            color: rgb(11, 11, 12);
            max-height: 1;
            background-color: rgb(158, 158, 158);
            padding: 3px;
            border-radius: 3px;
        }

        header.page {
            display: flex;
            align-self: fl;
            background-color: transparent;
            max-height: 50px;
            background-image: none;
        }
        
        
        
        body {
            color: white;
            background: rgb(32, 33, 34);
            font: monospace, Helvetica;
        }
        
        footer {
            background: black;
            padding: 10px 20px;
        }
        
        h1 {
            color: white;
        }
        
        h2 {
            color: whitesmoke;
            background: black;
        }
        
        h3 {
            color: grey;
            background: transparent;
            text-decoration: underline;
            
        }
        

        section.Setup {
            display: flex;
            justify-content: space-between;
            background-image: url(images/BlueWaves.jpg);
            background-size: 100%;
            margin: 10px;
            
        }
        
        section.Setup p {
            margin: 5px;
            border-radius: 1vw;
            width: 33%;
            padding: 10px;
            background-color: rgba(10, 10, 24,.7);
            align-self: flex-start;
        }

        section.Production {
            display: flex;
            justify-content: space-evenly;
            background-image: url(images/BlueWaves.jpg);
            background-size: 100%;
            margin: 10px;
            align-items: center;
        }
        
        section.Production p {
            margin: 5px;
            border-radius: 1vw;
            width: 53%;
            padding: 10px;
            background-color: rgba(10, 10, 24,.7);
            align-self: flex;
        }    

        section.navigation-panel {
            padding: 5px;
            width: 100%;
            display: flex;
            background-color: transparent;
            min-height: 40px;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            margin-top: 5px;
        }

        section.navigation-panel a {
            padding: 5px;
            font-size: x-large;
            height: min-content;
            background-color: rgba(88, 65, 170, .66);
            color: black;
            border-radius: 5px;
            border: solid 2px rgba(0, 143, 199, .66);
        }

        div.PodcastTN {
          min-height: 120px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

        }

        .PodcastTN img {
          max-width: 100px;
          max-height: 100px;
          border-radius: 5px;
        }
        
        p {
          background-color: teal;
          border: 5px solid black;
        }

        
